:plain
  var ds = new Ext.data.JsonStore({
             autoDestroy: true,
             api: {read: {method: 'GET', url: '/articles'}},
             //autoLoad: {params: {start: 0, limit: #{settings.per_page}}},
             fields: ['id', 'title', 'image', 'created_at', 'added_status'],
             root: 'rows'
           }),
      gridId = Ext.id(),
      loadArticles = function() {
        var grid = Ext.getCmp(gridId);
        grid.getTopToolbar().items.each(function() {
          if(Ext.FormPanel.prototype.isField(this))
            ds.setBaseParam(this.getName(), this.getValue());
        });
        ds.load({params: {start: 0, limit: grid.getBottomToolbar().pageSize}});
      };
  new Ext.Viewport({
    layout: 'border',
    items: [{
      region: 'north',
      xtype: 'box',
      height: 27,
      margins: {top: 5, left: 5},
      autoEl: {
        tag: 'div',
        html: #{title.to_json}
      }
    }, {
      region: 'center',
      xtype: 'grid',
      id: gridId,
      store: ds,
      colModel: new Ext.grid.ColumnModel({
        defaults: {editable: false, menuDisabled: true},
        columns: [
          {header: 'ID',       dataIndex: 'id',           width: 50},
          {header: '标题',     dataIndex: 'title',        width: 300},
          {header: '图片',     dataIndex: 'image',        width: 100},
          {header: '采集日期', dataIndex: 'created_at',   width: 100, align: 'center', renderer: function(value) { return Date.parseDate(value, 'c').format('Y年m月d日 H:i:s'); }},
          {header: '收录状态', dataIndex: 'added_status', width: 50,  align: 'center', xtype: 'booleancolumn', falseText: '<span style="color:red">X</span>', trueText: '<span style="color:green">√</span>'}
        ]
      }),
      sm: new Ext.grid.RowSelectionModel({singleSelect:true}),
      title: '采集文章列表',
      tbar: [
        {
          xtype: 'checkbox',
          name: 'uo',
          boxLabel: '仅显示未收录文章',
          checked: true
        }, ' ', '-', ' ', '显示', {
          xtype: 'combo',
          name: 'num',
          width: 50,
          mode: 'local',
          editable: false,
          triggerAction: 'all',
          store: #{(1..30).to_a.to_json},
          value: 1
        }, {
          xtype: 'combo',
          name: 'unit',
          width: 50,
          mode: 'local',
          editable: false,
          triggerAction: 'all',
          store: [
            ['days', '天'], ['weeks', '星期'], ['months', '月'], ['years', '年']
          ],
          value: 'days'
        }, '之内采集的文章', ' ', {
          xtype: 'button',
          iconCls: 'btn-search',
          tooltip: '刷新列表',
          /*
          handler: function() {
            Ext.getCmp(gridId).getTopToolbar().items.each(function() {
              if(Ext.FormPanel.prototype.isField(this)){
                ds.setBaseParam(this.getName(), this.getValue());}
            });
            Ext.getCmp(gridId).getBottomToolbar().moveFirst();
          }
          */
          handler: loadArticles
        }
      ],
      bbar: {
        xtype: 'paging',
        store: ds,
        displayInfo: true,
        displayMsg: '共{2}篇文章 | 当前显示第{0}至{1}篇',
        emptyMsg: '没有符合条件的文章',
        beforePageText: '第',
        afterPageText: '页 共{0}页',
        pageSize: #{settings.per_page},
      },
      viewConfig: {
        forceFit: true
      }
    }],
    listeners: { afterrender: loadArticles }
  });
